/* #trackerBox {
    background-color: midnightblue;
    border: black;
      border-width: 15px;
}
#meditationsBox {
    background-color: chartreuse;
    border: black;
      border-width: 15px;
}
#selfBox {
    background-color: cyan;
}
#othersBox {
    background-color: darkorchid;
}
.homeButtons {
    margin-top: 10px;
}
.button {
     margin-top: 100px;
}

.MuiButton-containedSizeSmall {
    margin-top:10px;
}
.aboveButton {
    margin-bottom: 10px;
} */