body {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    
}

.bigDiv {
    /* background-image: url(wet_rocks.jpeg); */
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    text-align: center;
    color: black;
    background-color: whitesmoke;
    width: 75%;
    height: 50%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: teal;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

* {
    text-decoration: none;
  }

