#trackerBox {
    background-color: #2B3E42;
}
#meditationsBox {
    background-color: #747E80;
    /* background-image: url(wet_rocks.jpeg),; */
}
#selfBox {
    background-color: #77BED2;
}
#othersBox {
    background-color: #F2583E;
}
