.nav-title {
    font-size: 45px;
    font-weight: 700;
    display: inline-block;
    color: black;
    padding-left: 20px;
    text-align: center;
}

.nav {
  overflow: hidden;
  background-color: white;
}

.nav-link {
  float: left;
  color: black;
  background-color: white;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: lightgrey;
}

.nav-right {
  float: right;
}

.fas {
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  color: darkturquoise;
}